
@{ ViewBag.Title = "Index"; }



<div id="frmDetDiseno">
    <div class="form-horizontal">
        <div class="panel panel-default">

            <div class="panel-body">
                <div id="gridContainer"></div>
            </div>
        </div>
    </div>
</div>




<script>

    var storeEstado = [{ ESTADO: 'A', ESTADO_DES: 'Activo' }, { ESTADO: 'I', ESTADO_DES: 'Inactivo' }]


    $(() => {
        const DxSource = new DevExpress.data.CustomStore({
            key: 'ETjCDis',
            load() {
                return sendRequest(`/DisenoEstructura/ListarDisEstTej_all`);
            },
            insert(values) {
                return sendRequest(`/DisenoEstructura/InsertDisEstTej`, 'POST', JSON.stringify(values));
            },
            update(key, values) {
                values.ETjCDis = key;
                return sendRequest(`/DisenoEstructura/UpdateDisEstTej`, 'PUT', JSON.stringify(values));
            },
            remove(key) {
                var values = { ETjCDis: key }
                //values.IdUbicacion = key;
                return sendRequest(`/DisenoEstructura/DeleteDisEstTej`, 'DELETE', JSON.stringify(values));
            },
        });
        console.log(DxSource);
        const dataGrid =
            $('#gridContainer').dxDataGrid({
                dataSource: DxSource,
                keyExpr: 'ETjCDis',
                editing: {
                    mode: 'popup',
                    allowUpdating: true,
                    useIcons: true,
                    allowAdding: true,
                    allowDeleting: true,
                    popup: {
                        title: 'DETALLE DE DISEÑO DE TEJIDO',
                        showTitle: true,
                        width: 700,
                        height: 310,
                    },
                    form: {
                        items: [{
                            itemType: 'group',
                            colSpan: 2,
                            items: ['ETjDDis',
                                {
                                    dataField: 'ETjDMne',
                                //editorType: 'dxTextBox',
                                //editorOptions: {
                                //    maxLength: 5
                                //},
                                //validationRules: [
                                //    {
                                //        type: 'stringLength',
                                //        max: 5,
                                //        message: 'Máximo 5 caracteres.'
                                //    }
                                //]
                                }
                            ],
                        }],
                    },
                },
                columns: [
                    { dataField: 'ETjCDis', caption: 'Codigo', },
                    { dataField: 'ETjDDis', caption: 'Nombre', },
                    { dataField: 'ETjDMne', caption: 'Abreviatura', },

                    {
                        dataField: 'ESTADO', caption: 'Estado', lookup: {
                            dataSource: storeEstado,
                            valueExpr: 'ESTADO',
                            displayExpr: 'ESTADO_DES',
                        }
                    },
                    {
                        dataField: 'FechaReg',
                        caption: 'Fecha Creación',
                        dataType: 'datetime',
                        format: "dd/MM/yyyy"
                    },
                    { dataField: 'USUARIO_REG', caption: 'Usuario Registro', },
                    { dataField: 'HOST_REG', caption: 'PC', },
                    {
                        dataField: 'FECHA_ACT',
                        caption: 'Fecha Modificación',
                        dataType: 'datetime',
                        format: "dd/MM/yyyy"
                    },
                    { dataField: 'USUARIO_ACT', caption: 'Usuario Modificación', },
                    { dataField: 'HOST_ACT', caption: 'PC edit', },
                ],
                toolbar: {
                    items: [
                        {
                            location: "after",
                            widget: "dxButton",
                            options: {
                                icon: "add",
                                text: "AGREGAR",
                                onClick: function () {
                                    dataGrid.addRow();
                                }
                            },
                        }, {
                            location: 'after',
                            widget: 'dxButton',
                            options: {
                                icon: 'refresh',
                                text: "ACTUALIZAR",
                                onClick() {
                                    dataGrid.refresh();
                                },
                            },
                        },
                        'exportButton',
                    ],
                },
                hoverStateEnabled: true,
                filterRow: { visible: true },
                showColumnLines: true,
                showRowLines: true,
                rowAlternationEnabled: true,
                showBorders: true,
                selection: {
                    mode: 'single',
                },
                export: {
                    enabled: true,
                },
                onExporting(e) {
                    const workbook = new ExcelJS.Workbook();
                    const worksheet = workbook.addWorksheet('data');

                    DevExpress.excelExporter.exportDataGrid({
                        component: e.component,
                        worksheet,
                        autoFilterEnabled: true,
                    }).then(() => {
                        workbook.xlsx.writeBuffer().then((buffer) => {
                            saveAs(new Blob([buffer], { type: 'application/octet-stream' }), 'data.xlsx');
                        });
                    });
                    e.cancel = true;
                },
            }).dxDataGrid('instance');

        console.log(dataGrid);
        console.log(dataGrid.getDataSource());

    });
</script>

