
@{
    ViewBag.Title = "Index";
}


<div id="frmIndexROLES">
    <div class="form-horizontal">
        <div class="panel panel-default">

            <div class="panel-body">
                <div id="gridContainer"></div>
            </div>
        </div>
    </div>
</div>

<script>
    $(() => {
        const DxSource = new DevExpress.data.CustomStore({
            key: 'IdTipoMaquina',
            load() {
                return sendRequest(`/TipoMaquina/LitarTipoMaquina`);
            },
            insert(values) {
                return sendRequest(`/TipoMaquina/InsertTipoMaquina`, 'POST', JSON.stringify(values));
            },
            update(key, values) {
                values.IdTipoMaquina = key;
                return sendRequest(`/TipoMaquina/UpdateTipoMaquina`, 'PUT', JSON.stringify(values));
            },
            remove(key) {
                var values = { IdTipoMaquina: key }
                //values.IdUbicacion = key;
                return sendRequest(`/TipoMaquina/DeleteTipoMaquina`, 'DELETE', JSON.stringify(values));
            },
        });
        console.log(DxSource);
        const dataGrid =
        $('#gridContainer').dxDataGrid({
            dataSource: DxSource,
            keyExpr: 'IdTipoMaquina',
            editing: {
                mode: 'popup',
                allowUpdating: true,
                useIcons: true,
                allowAdding: true,
                allowDeleting: true,
                popup: {
                    title: 'Tipo Maquina',
                    showTitle: true,
                    width: 700,
                    height: 210,
                },
                form: {
                    items: [{
                        itemType: 'group',
                        colSpan: 2,
                        items: ['TipoMaquina'],
                    }],
                },
            },
            columns: [
                'IdTipoMaquina',
                'TipoMaquina',
                'USUARIO_REG',
                'ESTADO_DES', , {
                    dataField: 'FECHA_REG',
                    caption: 'Fecha Registro',
                    dataType: 'datetime',
                    alignment: 'right',
                    format: "MM/dd/yyyy"
                }
            ],
            toolbar: {
                items: [
                    {
                        location: "after",
                        widget: "dxButton",
                        options: {
                            icon: "add",
                            text: "AGREGAR",
                            onClick: function () {
                                dataGrid.addRow();
                            }
                        },
                    }, {
                        location: 'after',
                        widget: 'dxButton',
                        options: {
                            icon: 'refresh',
                            text: "ACTUALIZAR",
                            onClick() {
                                dataGrid.refresh();
                            },
                        },
                    },
                    'exportButton',
                ],
            },
            hoverStateEnabled: true,
            filterRow: { visible: true },
            showColumnLines: true,
            showRowLines: true,
            rowAlternationEnabled: true,
            showBorders: true,
            selection: {
                mode: 'single',
            },
            export: {
                enabled: true,
            },
            onExporting(e) {
                const workbook = new ExcelJS.Workbook();
                const worksheet = workbook.addWorksheet('data');

                DevExpress.excelExporter.exportDataGrid({
                    component: e.component,
                    worksheet,
                    autoFilterEnabled: true,
                }).then(() => {
                    workbook.xlsx.writeBuffer().then((buffer) => {
                        saveAs(new Blob([buffer], { type: 'application/octet-stream' }), 'data.xlsx');
                    });
                });
                e.cancel = true;
            },
        }).dxDataGrid('instance');
    });


</script>


